<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Thank you for registering with bar-view.com, <%= @bar.name %>.</h3>
    <p>We are currently reviewing your business reference and should be in contact with you soon to verify it.<br/>
    You will receive another email as soon as your account is verified, and you can then log<br/>
    into your account (<%= @bar.username %>) and begin streaming!
    </p>
    <br/>
    <p>- The bar-view.com staff</p>
  </body>
</html>