<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Thanks again for registering with bar-view.com!</h3>
    <p>We have reviewed your business reference and successfully verified you.<br/>
    You can now log in with your account (<%= @bar.username %>) and begin streaming.
    </p>
    <br/>
    <p>- The bar-view.com staff</p>
  </body>
</html>