<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Your bar-view.com password has been successfully reset.</h3>
    <p>Your new password is <%= @newpass %>.  After logging in you can click on the<br/>
    "Edit Info" link on the top bar to change your password.</p>
    <br/>
    <p>- The bar-view.com staff</p>
  </body>
</html>