<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @bar.name %> has registered for bar-view.com.</h1>
    <p>Go to http://bar-view.com/bars to look at their business reference and verify them.</p>
    <br/>
    <p>- The bar-view.com staff</p>
  </body>
</html>