Thank you for registering with bar-view.com, <%= @user.first_name %>.
===============================================
 
Go to <a href="http://www.bar-view.com">bar-view.com</a> and click the 'Login' link 
to begin personalizing your bar-view.com experience.
 
- The bar-view.com staff