<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for registering with bar-view.com, <%= @user.first_name %>.</h1>
    <p>Go to <a href="http://www.bar-view.com">bar-view.com</a> and click the 'Login' link to begin personalizing your bar-view.com experience.
    </p>
    <p>- The bar-view.com staff</p>
  </body>
</html>