<div class="row">
	<div class="span16">
		<br/><br/><br/>
		<h1 id="bv">Who is Bar-view?</h1>
		<p id="mike"><a href="mailto:mike@bar-view.com">Mike MacLean</a> - The brains behind the operation.</p>
		<p id="dan"><a href="mailto:dan@bar-view.com">Dan MacLean</a> - Does the tech stuff.</p>
	</div>
</div>