<div class="row">
	<div class="span16">
		<br/><br/><br/>
		<h1>Bar-view Mobile</h1>
		<div class="row">
			<div class="span8">
				<p><a href="http://market.android.com/"><img src="http://www.android.com/images/brand/45_avail_market_logo2.png"/></a></p>
				<p id="android_desc">The Bar-view Android app is now available on the Android Market.  Just search for 'Barview' in the Market or scan the
				QR code below with an app like QR Droid.</p>
				<p><img src="/android_qr.png"/></p>
			</div>
			<div class="span8">
				<p><img width="45px" height="45px" src="http://images.apple.com/iphone/built-in-apps/images/app_store_icon.jpg" /></p>
				<p id="iphone_desc">The Bar-view iPhone app is currently in development and we hope to make it available to you in the coming weeks.</p>
			</div>
		</div>
	</div>
</div>